.Rproj.user
.Rhistory
.RData
.Ruserdata
Final-Project.Rproj
NYTscores.csv
WashingtonPostWinnersLosers.xlsx
ms_4.html
ms_4.Rmd
ms_3.html
gather.html
democratic-debate-transcripts-2020.zip
theme_fivethirtyeight.R
